<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>{{title}}</h4>
      </div>
      <form name="form" ng-submit="submit()">
        <div class="modal-body">
          <div ng-include="template"></div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" ng-click="close()">Cancel</button>
          <input type="submit" id="submit" class="btn btn-primary" value="{{okButtonText}}">
        </div>
      </form>
    </div>
  </div>
</div>