<div class="jumbotron">
  <div class="row">
    <div class="col-md-6 asztal">
      <!-- <img class="visible-xs img-responsive" ng-src="assets/img/task1S.jpg"> -->
      <img class="visible-xs img-responsive" ng-src="img/task1S.jpg">
      <img class="visible-sm img-responsive" ng-src="img/task1M.jpg">
      <img class="visible-md img-responsive" ng-src="img/task1L.jpg">
      <img class="visible-lg img-responsive" ng-src="img/task1eredeti.jpg">
    </div>
    <div class="col-md-6">
      <h1>{{pg.title}}</h1>
      <p>{{pg.msg}}</p>
      <p><a ui-sref="home" class="btn btn-success btn-lg">{{pg.act}}</a></p>
    </div>
  </div>
</div>